@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes slideInRightFade {
    0% {
      opacity: 0;
      transform: translateX(20px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .animate-slide-in-right-fade {
    animation: slideInRightFade 0.4s ease-out forwards;
  }
}